.row {
  margin-left: 0;
  margin-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.card {
  @include fill-parent(all);

  border-radius: 2rem;
  box-shadow: 0 10px 38px $shadow-lighter;
}

.card-header {
  border-radius: 2rem 2rem 0 0 !important;
  text-align: center;
  font-family: $font-heading;
  font-size: 24px;
  padding: 0.5rem 1.25rem;
}

.col-bars {
  padding-left: 20px !important;
}

.btn-array {
  @include fill-parent(width);
  @include transform($scale: 1.05);
  margin: 0.5rem 1.25rem 0;
}

.btn-sort {
  margin: 5px 0;
  @include fill-parent(width);
  border-radius: 2rem;
  @include transform();
}

.input-range {
  position: relative;
  top: 3px;
}

#bar-size {
  margin-right: 25px;
}

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --primary-c: #2196f3;
  --secondary-c: #b2d7f5;

  --white: #fdfbfb;

  --text: #082943;
  --bg: var(--primary-c);
}

ul {
  list-style-type: none;
  padding-left: 40px;
  margin: 0;
}

li {
  display: block;
  position: relative;
  padding: 5px 0;
}

/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.style-card {
  margin: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 38px $shadow-lighter;
}

/* Radio Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

label {
  cursor: pointer;
  font-weight: 400;
}

.check {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Reset */
input#one ~ .check {
  transform: translate(-34px, -30px);
  background: var(--secondary-c);
}
input#two ~ .check {
  transform: translate(-35px, -72px);
  background: var(--primary-c);
  box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
}

/* Radio Input #1 */
input#one:checked ~ .check {
  transform: translate(-35px, 12px);
}

/* Radio Input #2  */
input#two:checked ~ .check {
  transform: translate(-35px, -29px);
}
