@import "partials/variables";

@mixin transform($scale: 1.1, $duration: 0.5s) {
  transition: transform $duration;

  &:hover {
    transform: scale($scale);
    box-shadow: 0 0 10px $shadow-dark;
  }
}

body {
  font-family: $font-body;
  cursor: default;
}

@import "partials/navbar";

.main-container {
  width: 100vw;
  height: 92vh;
  padding: 20px 20px 30px;

  .content-container {
    height: 100%;
  }
}

<<<<<<< Updated upstream
=======
.no-effect {
  transform: scale(0.9, 0.9);
  box-shadow: none !important;
  border: none;
}

.add-effect {
  transition: all 1s;
}

>>>>>>> Stashed changes
@import "partials/canvas";
@import "partials/card/config";