@import "partials/variables";

@media screen and (min-width: 1920px) {
  html,
  body {
    font-size: 22px;
  }
}

@mixin transform($scale: 1.1, $duration: 0.5s) {
  transition: transform $duration;

  &:hover {
    transform: scale($scale);
    box-shadow: 0 0 0.625rem $shadow-dark;
  }
}

body {
  font-family: $font-body;
  cursor: default;
}

@import "partials/navbar";

.main-container {
  width: 100vw;
  height: 92vh;
}

.inner-container {
  min-width: 21.875rem;
}

.padding-all {
  padding: 1.25rem !important;
}

.no-effect {
  transform: scale(0.9, 0.9);
  box-shadow: none !important;
  border: none;
}

.add-effect {
  transition: all 1s;
}

@import "partials/canvas";
@import "partials/card/config";
@import "partials/mobile";
