@import "extras/variables";
@import "extras/functions";

body {
  font-family: $font-body;
  cursor: default;
}

@import "extras/navbar";

.main-container {
  width: 100vw;
  height: 92vh;
  padding: 20px 20px 30px;
}

.content-container {
  @include fill-parent(height);
}

@import "canvas/canvas";
@import "card/config";

// box-shadow: 0 6px 12px rgba(33, 150, 243, 0.35);
// box-shadow: 0 19px 38px rgba(0, 0, 0, 0.13);
