.navbar {
  width: 100vw;
  height: 8vh;
  min-height: 3.125rem;

  .logo {
    margin: 0 0.625rem;
  }

  .heading {
    font-family: $font-heading;
    font-size: large;
  }

  .github {
    position: relative;
    right: 0.9375rem;

    &:link,
    &:active,
    &:visited {
      color: black;
    }

    .fa-github {
      position: relative;
      z-index: 2;
      width: 1.9375rem;
      height: 1.95rem;
      background-color: $white;
      border-radius: 1.3125rem;
      box-shadow: 0 0.125rem 0.625rem $shadow-lighter;
    }

    &-title {
      font-family: $font-my-intro;
      position: absolute;
      display: inline-block;
      overflow: hidden;
      z-index: 1;
      transition: all 1s ease-in-out;
      border: 0.0625rem solid black;
      border-radius: 1.3125rem;
      box-shadow: 0 0.125rem 0.625rem $shadow-lighter;
      background-color: $white;
      white-space: nowrap;
      color: $white;
      height: 2.2625rem;
      width: 2.3125rem;
      right: -0.1875rem;
      bottom: 0;
      padding-top: 0.25rem;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.9);

      .github-title {
        padding: 0.25rem 2.5rem 0.1875rem 0.625rem;
        position: absolute;
        color: black;
        width: 10.9375rem;
        height: 2.2625rem;
      }
    }
  }
}
