.row {
  margin-left: 0;
  margin-right: 0;
}

.card-divider {
  margin: 0.5rem 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.card {
  @include fill-parent(width);
  padding-bottom: 10px;
  
  border-radius: 2rem;
  box-shadow: 0 10px 38px $shadow-lighter;
}

.card-header {
  border-radius: 2rem 2rem 0 0 !important;
  text-align: center;
  font-family: $font-heading;
  font-size: 24px;
  padding: 0.5rem 1.25rem;
}


.btn-array {
  @include fill-parent(width);
  @include transform($scale: 1.05);
  margin: 0.5rem 1.25rem 0;
}

.btn-sort {
  margin: 5px 0;
  @include fill-parent(width);
  border-radius: 2rem;
  @include transform();
}

.input-range {
  position: relative;
  top: 3px;
}

#bar-size {
  margin-right: 25px;
}

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --primary-c: #2196f3;
  --secondary-c: #b2d7f5;

  --white: #fdfbfb;

  --text: #082943;
  --bg: var(--primary-c);
}

ul {
  list-style-type: none;
  // padding-left: 40px;
  margin: 0;
}

li {
  display: block;
  position: relative;
  padding: 5px 0;
}

/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.style-card {
  margin: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  background: var(--white);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 10px 38px $shadow-lighter;
}
@import "radio";
@import "switch";
@import "slider";