@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin transform($scale: 1.1, $duration: 0.5s) {
  transition: transform $duration;

  &:hover {
    transform: scale($scale);
    box-shadow: 0 0 10px $shadow-dark;
  }
}

@mixin fill-parent($type) {
  @if ($type == all) {
      height: 100%;
      width: 100%;
  } @else if ($type == height) {
      height: 100%;
  } @else if($type == width) {
      width: 100%;
  }
}

// @function shadow($shadow-name, $)
