.navbar {
    // position: fixed;
    z-index: 2;
    // top: 0;
    width: 100vw;
    height: 8vh;
}
  
.logo {
    margin: 0 10px;
}
  
.heading {
    font-family: $font-heading;
}
  
.heading:hover {
    text-decoration: none;
}

.github {
    // paddin/g: 20px;
    // border: 1px solid black;
    &:link, &:active, &:visited {
        color: black;
    }

    &:hover {
        color: rgba(0, 0, 0, 0.6);
    }
}