$font-heading: "Berkshire Swash", cursive;
$font-body: "Cabin", sans-serif;
$font-footer: "Indie Flower", cursive;
$shadow-lighter: rgba(0, 0, 0, 0.15);
$shadow-light: rgba(0, 0, 0, 0.2);
$shadow-dark: rgba(0, 0, 0, 0.4);
$shadow-darker: rgba(0, 0, 0, 0.6);
$divider-color: #e9ecef;
$font-weights: (
    "bold": 900
);