.row {
  margin-left: 0;
  margin-right: 0;
}

.card-divider {
  margin: 0.5rem 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.card {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0.625rem 2.375rem $shadow-lighter;
}

.card-header {
  border-radius: 2rem 2rem 0 0 !important;
  text-align: center;
  font-family: $font-heading;
  font-size: 1.5rem;
  padding: 0.5rem 1.25rem;
}

.card-inner-content {
  padding: 0rem 1.25rem 0.625rem;
}

.btn-array {
  @include transform($scale: 1.05);
  width: 100%;
  margin: 0.5rem 1.25rem 0;

  &:disabled {
    transform: none;
    box-shadow: none;
  }
}

.adjust-button {
  padding: 0;

  &:nth-child(even) {
    padding-left: 0.3125rem;
  }

  &:nth-child(odd) {
    padding-right: 0.3125rem;
  }
}

.btn-sort {
  margin: 0.3125rem 0;
  width: 100%;
  min-width: 7.5rem;
  border-radius: 2rem;
  @include transform();

  &.sort-selected {
    background-color: #007bff;
    color: white;
    // transform: scale(1.1);
    box-shadow: 0 0 0.625rem $shadow-dark;
  }

  &:disabled {
    background-color: lightgray;
    transform: none;
    box-shadow: none;
  }

  &:disabled.sort-selected {
    background-color: #007bff;
  }

  // &:nth-child(odd) {
  //   margin-left: 10px !important;
  // }

  // &:nth-child(even) {
  //   margin-right: 10px !important;
  // }
}

@mixin size($width: inherit, $height: inherit) {
  width: $width;
  height: $height;
}

@mixin flex($vertical, $horizontal, $direction: row) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
  flex-direction: $direction;
}

@mixin border-radius(
  $topLeft: 50%,
  $topRight: 50%,
  $botLeft: 50%,
  $botRight: 50%
) {
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $botLeft;
  border-bottom-right-radius: $botRight;
}

$deepBlue-5: #f1f3f4;
$deepBlue-10: #e4e6ea;
$deepBlue-20: #ccced5;
$deepBlue-40: #999eac;
$deepBlue-60: #666d82;
$deepBlue-80: #333d59;
$deepBlue-90: #192445;
$deepBlue-100: #000c2f;
$deepBlue-120: #000923;

$blue: #2e90eb;
$salmon: #f56b72;

$swipes-shadow-one: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.06), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.12);
$swipes-shadow-two: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
$swipes-shadow-three: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19),
  0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
$swipes-shadow-four: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25),
  0 0.625rem 0.625rem rgba(0, 0, 0, 0.22);
$swipes-shadow-five: 0 1.1875rem 2.375rem rgba(0, 0, 0, 0.3),
  0 0.9375rem 0.75rem rgba(0, 0, 0, 0.22);

.btn-disabled {
  background-color: lightgray !important;
  cursor: default !important;
}

.button {
  cursor: pointer;
  @include size(2.8125rem, 2.8125rem);
  @include flex(center, center);
  background-color: #007bff;
  box-shadow: 0 0.625rem 2.375rem $shadow-lighter;

  &--play {
    border-radius: 50%;
  }

  &--play & {
    &__shape {
      width: 0.5rem;
      height: 1.4375rem;
      background: white;
      transition: 0.3s ease-in-out;

      &--one {
        clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
        transform: translateX(0.125rem);
      }

      &--two {
        clip-path: polygon(0 25%, 100% 50%, 100% 50%, 0 75%);
        transform: translateX(0.125rem);
      }
    }
  }

  &--play#{&}--active & {
    &__shape {
      &--one {
        clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
        transform: translateX(0rem);
      }

      &--two {
        clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
        transform: translateX(0rem);
      }
    }
  }
}

// .btn-play {
//   border: unset;
//   // border-radius: 50%;
//   background: transparent;
//   box-sizing: border-box;
//   width: 0;
//   height: 2rem;

//   border-color: transparent transparent transparent #202020;
//   transition: 100ms all ease;
//   cursor: pointer;

//   // play state
//   border-style: solid;
//   border-width: 1rem 0 1rem 2rem;

//   &.paused {
//     border-style: double;
//     border-width: 0rem 0 0rem 1.5rem;
//   }

//   &:hover {
//     border-color: transparent transparent transparent #404040;
//   }
// }

#bar-size {
  margin-right: 1.5625rem;
}

ul {
  list-style-type: none;
  padding-left: 50%;
  transform: translateX(-1.25rem);
  margin: 0;
}

li {
  display: block;
  position: relative;
  padding: 0.3125rem 0;
}

/* Card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.style-card {
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background: $white;
  padding: 0.625rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.625rem 2.375rem $shadow-lighter;
}
@import "radio";
@import "switch";
@import "slider";
